@media (min-width:523px) {
  main {
    justify-content: center;
    display: flex;
    column-gap: 20px;
    padding: 20px;
  }

  main>section {
    width: 35%;
    height: 100%;
  }

  h2 {
    text-align: start;
    font-size: 1.5em;
    padding-left: 20px;
  }

  section:nth-child(2)>h2 {
    padding: 10px 10px 45px 10px;
  }

  [type="submit"] {
    margin: 10px 0 0 0;
  }
}

@media (min-width:523px) and (max-width:900px) {
  main>section {
    width: 50%;
    height: 100%;
  }
}